@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --color-brand-primary: var(--brand-primary);
  --color-brand-light: var(--brand-light);
  --color-brand-bg: var(--brand-bg);
}

:root {
  --brand-primary: oklch(0.38 0.18 258);
  --brand-light: oklch(0.55 0.16 240);
  --brand-bg: oklch(0.75 0.08 240 / 20%);
}
